# Configuration Email
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# Sécurité
JWT_SECRET_KEY=change_me
SESSION_SECRET_KEY=change_me

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Ollama
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=mistral
